In [1]:
import pandas as pd

In [2]:
df_dataset = pd.read_csv("data/dataset.csv")

In [6]:
df_dataset

,text,date,category,language
0,"Hello, Does it matter iff I use Visa or Master...",7-6-2022,visa_or_mastercard,en
1,"Good afternoon, I just got refunded for my pur...",16-11-2022,reverted_card_payment?,en
2,"Hello, I got billed ann extra pound! Thanks",4-12-2022,extra_charge_on_statement,en
3,"Hi, How long does it take for a transfer to sh...",23-11-2022,transfer_timing,en
4,"hi, When can I use money sent to my accountt? ...",17-4-2022,transfer_timing,en
...,...,...,...,...
9370,"good afternoon, I think someone may be using m...",22-6-2022,compromised_card,en
9371,"good morning, Help, I need to top up my accoun...",7-4-2022,top_up_by_cash_or_cheque,en
9372,"hi, I made an international purchasee, but the...",7-12-2022,card_payment_wrong_exchange_rate,en
9373,"hi, Why is my card not working anymore? Thanks",1-11-2022,card_not_working,en
9374,"Hello, How many different cards can I havee fo...",24-4-2022,getting_spare_card,en

In [4]:
df_mapping = pd.read_csv("data/mapping.csv")

In [5]:
df_mapping

                            category   class
0                       card_arrival    card
1                       card_linking    card
2                      exchange_rate  others
3   card_payment_wrong_exchange_rate    card
4          extra_charge_on_statement  others
..                               ...     ...
72            cash_withdrawal_charge    cash
73              card_about_to_expire    card
74           apple_pay_or_google_pay  others
75                verify_my_identity  others
76                   country_support  others

[77 rows x 2 columns]

In [7]:
df_merged = pd.merge(left=df_dataset, right=df_mapping, on='category', how='left', suffixes=(None, 'map'))

In [8]:
df_merged

,text,date,category,language,class
0,"Hello, Does it matter iff I use Visa or Master...",7-6-2022,visa_or_mastercard,en,card
1,"Good afternoon, I just got refunded for my pur...",16-11-2022,reverted_card_payment?,en,card
2,"Hello, I got billed ann extra pound! Thanks",4-12-2022,extra_charge_on_statement,en,others
3,"Hi, How long does it take for a transfer to sh...",23-11-2022,transfer_timing,en,transfer
4,"hi, When can I use money sent to my accountt? ...",17-4-2022,transfer_timing,en,transfer
...,...,...,...,...,...
9370,"good afternoon, I think someone may be using m...",22-6-2022,compromised_card,en,card
9371,"good morning, Help, I need to top up my accoun...",7-4-2022,top_up_by_cash_or_cheque,en,cash
9372,"hi, I made an international purchasee, but the...",7-12-2022,card_payment_wrong_exchange_rate,en,card
9373,"hi, Why is my card not working anymore? Thanks",1-11-2022,card_not_working,en,card
9374,"Hello, How many different cards can I havee fo...",24-4-2022,getting_spare_card,en,card

In [9]:
df_merged.to_csv("data\dataset_mapped.csv")